/*****************************************************************************/
/*
/* Common home post
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  /*height: 100%;*/
}

body {
  /* background-color: #2d2d30; */
  font: 14px helvetica, arial, 雅黑, sans-serif;
  text-align: center;
  /*color: #b3b3b3;*/
  color: #000;
  /*#009fb 亮蓝;
  #204d6d 暗蓝;
  #252526 灰底*/
}

h1, h2, h3, h4, h5, h6 {　margin: 0;  font-weight: bold;  color: #333333;  text-rendering: optimizelegibility;　}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-weight: normal; color: #999999; }
h1 { font-size: 24px; line-height: 20px; margin-bottom:15px; }
h1 small { font-size: 18px; }
h2 {
  font-size: 20px;
  line-height: 36px;
  /*margin-top:20px;*/
  /*margin-bottom: 15px;*/
  color: rgb(236, 0, 140);
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
  /*margin-top: 20px;*/
  margin-bottom:8px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  margin-top:10px;
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

p {
  margin: 0 0 9px;
  margin-bottom:20px;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 12px;
  line-height: 21px;
}
p small {
  font-size: 11px;
  color: #999999;
}

ul, ol {
  padding: 0;
  margin: 0 0 30px 25px;
}

ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  color: #005580;
}

/**********************************************/
/* blockquote
/**********************************************/
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
/**********************************************/
/* code, pre 代码高亮
/**********************************************/
code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  color: #d14;
  background-color: #f7f7f9;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 14px;
  line-height: 18px;
  color: #D4D3CF;
  background-color: #f5f5f5;
  background-color: #121B2E;
  border: 1px solid #254866;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: 0px 0px 8px #AAAAAA;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* Site */

.site {
  text-align: justify;
  width: 800px;
  margin: 0 auto;
  height: 100%;
}

.header { height: 50px; margin: 0 20px; width: 100%; border-bottom:3px solid #000; position: relative;}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 4px;
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

/* Home Post */

#home, #post { margin: 10px 250px 0 0; }

/* footer */

.footer {
  padding-top: 8px;
  height: 80px;
  /*margin-top: -80px;*/
  font-size: 12px;
  /*color: #f3f3f3;*/
  /* background-color: #252526; */
  background-color: #e6e6e6;
  width: 100%;
  clear: right;
}

/* related 最后发表文章　*/

#related {
  margin-top: 4px;
}
