/*****************************************************************************/
/*
/* Common home post
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #2d2d30;
  font: 14px helvetica, arial, 雅黑, sans-serif;
  text-align: center;
  color: #b3b3b3;
  /*#009fb 亮蓝;
  #204d6d 暗蓝;
  #252526 灰底*/
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  color: #0097fb;
  text-decoration: none;
}
a:hover {
  color: #009700;
}

/* Home */

#home {
  height: 100%;
}

/* post */

ul.posts {
  list-style-type: none;
  margin-bottom: 4px;
}

ul.posts li {
  line-height: 17px;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 12px;
}

/**********************************************/
/* blockquote
/**********************************************/
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
/**********************************************/
/* code, pre 代码高亮
/**********************************************/
code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  color: #d14;
  background-color: #f7f7f9;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 14px;
  line-height: 18px;
  color: #D4D3CF;
  background-color: #f5f5f5;
  background-color: #121B2E;
  border: 1px solid #254866;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: 0px 0px 8px #AAAAAA;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* Site */

.site {
  text-align: justify;
  width: 800px;
  margin: auto 0;
  height: 100%;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 4px;
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 2px;
}

.site .title a.extra:hover {
  color: black;
}

/* footer */

.footer {
  font-size: 12px;
  color: #666;
  background-color: #252526;
  width: 100%;
  clear: right;
}

.footer .contact {
    margin-right: 3px;
  }

/* related 最后发表文章　*/

#related {
  margin-top: 4px;
}
