/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  background-color: #2d2d30;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
  color: #b3b3b3;
  /*#009fb 亮蓝;
  #204d6d 暗蓝;
  #252526 灰底*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  color: #fff;
}

a {
  color: #0097fb;
  text-decoration: none;
}
a:hover {
  color: #009700;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  /*width: 40em;*/
  margin: auto 20%;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .footer {
    font-size: 80%;
    color: #666;
    /*overflow: hidden;*/
    background-color: #252526;
    width: 100%;
    clear: right;
    height: 100%;
  }

    .footer .contact {
      margin-right: 3em;
    }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}
/**********************************************/
/* blockquote
/**********************************************/
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
/**********************************************/
/* code, pre 代码高亮
/**********************************************/
code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  color: #d14;
  background-color: #f7f7f9;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 14px;
  line-height: 18px;
  color: #D4D3CF;
  background-color: #f5f5f5;
  background-color: #121B2E;
  border: 1px solid #254866;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: 0px 0px 8px #AAAAAA;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* 最后发表文章　*/
#related {
  margin-top: 2em;
}
