{% extends "layouts/layout.html.njk" %}

{% block content %}
  <div class="index-banner">
    <div class="container">
      <h1>输入关键字查询文档</h1>
      <div class="home-search">
        {% include "layouts/search.html.njk" %}
      </div>
    </div>
  </div>

<style>
 .container img {
    width:30px;
    height:30px;
    border-radius: 100%;
    margin-right: 10px;
 }
 .index-list .container li {
    float: left;
    list-style: none;
    margin-right: 20px;
 }
</style>

  <div class="index-list">
    <div class="container">
        <h2>团队成员: </h2>
        <ul>
            <li>
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1483453313018&di=10a5d946bc623444b8e9ae7b1b064275&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%253D580%2Fsign%3D213afd8ba486c91708035231f93c70c6%2Fef9a6bb7d0a20cf4855de7ac75094b36adaf9989.jpg"/>doin
            </li>
        </ul>
    </div>
  </div>
{% endblock %}
