<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <style>
    .demo {
      margin: 1em 0;
      padding: 1em 1em 2em;
      background: #fff;
    }

    .demo h1 {
      padding-left: 8px;
      font-size: 24px;
      line-height: 1.2;
      border-left: 3px solid #108EE9;
    }

    .demo h1,
    .demo p {
      margin: 1em 0;
    }

    .demo .am-button + .am-button {
      margin-top: 1em;
    }
  </style>
</head>
<body>

<div class="demo">
  {{ content }}
</div>

</body>
</html>
