<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=gbk" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Doin" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/add.css" type="text/css" />
   <!-- <link rel="stylesheet" href="./theme/css/pygments.css" type="text/css" /> -->
   <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
<div class="site">
  <div class="hear">
    <div class="title">
      <a href="/">Doin Site33</a>
      <a class="extra" href="/">Home</a>
    </div>
    <ul class="nav">
      <li class="logo"><a href="/">Home</a></li>
      <li class="archive"><a href="/archive.html">archive</a></li>
      <li class="category"><a href="/categories.html">categories</a></li>
      <li class="page"><a href="/pages.html">pages</a></li>
      <li class="tag"><a href="/tags.html">tags</a></li>
      <li class="about"><a href="/about.html">about</a></li>
      <li class="search">
          <form method="get" action="http://www.google.com/search" target="google_window">
          <div> 
          <input type="text" value="Search..." name="query" id="search-box" onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}">
          <input type="submit" name="btnG" id="search-submit" value="Go">
          </div>
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="hidden" name="oe" value="UTF-8" />
          <input type="hidden" name="hl" value="zh-CN" />
          <input type="hidden" name="domains" value="http://doin.github.com" />
          <input type="hidden" name="sitesearch" value="http://doin.github.com" />
      </li>
    </ul>
  </div>
  <div class="tags">
    <h2>Tags</h2>
    <ul>
      {% for tag in site.tags %} 
        <li><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ site.tags[tag].size }}</span></a></li>
      {% endfor %}
    </ul>
<div id="recentcomments" class="dsq-widget"><h2 class="dsq-widget-title">Recent Comments</h2><script type="text/javascript" src="http://doin.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script></div><a href="http://disqus.com/">Powered by Disqus</a>
  </div>
  
  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Doin<br />
        Cofounder of <a href="http://github.com/doin">GitHub</a><br />
        doin@foxmail.com
      </p>
    </div>
  </div>
</div>
</body>
</html>